
<div class="container-fluid">
    <h3 class="mb-4">Preview</h3>
    <form [formGroup]="form">

        <div class="btn-group w-100 mb-2" role="group" aria-label="Basic radio toggle button group">
            <input value="light" formControlName="mode" name="mode" type="radio" class="btn-check" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio1">Light Mode</label>
            
            <input value="dark" formControlName="mode" name="mode" type="radio" class="btn-check" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Dark Mode</label>
        </div>
    </form>
    <hr>
    <app-button-preview></app-button-preview>
    <hr>
    <app-badges-preview></app-badges-preview>
</div>
