<form [formGroup]="form">
    <div *ngFor="let v of variables; index as i" class="mb-2">
        <div class="input-group mb-3">
            <span [ngbTooltip]="v.tooltip" class="input-group-text">{{v.description}} <fa-icon class="ms-2" [icon]="infoIcon" *ngIf="v.tooltip"></fa-icon></span>
            <input [id]="i" class="form-control" [class.form-control-color]="v.formType == 'color'" [formControlName]="v.name" [type]="v.formType" [step]="v.step">
            <span *ngIf="v.unit" class="input-group-text">{{v.unit}}</span>
          </div>
    </div>
</form>