<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" width="30" height="24"> 
        Bootstrap Playground</a>
      <div>

        <button class="btn btn-primary me-2" (click)="downloadCss()">Download .css</button>
        <button class="btn btn-primary" (click)="downloadScss()">Download .scss Overrides</button>
      </div>
    </div>
  </nav>