
<h3 class="mb-4">Settings</h3>
<div class="card mb-2">
    <h5 class="card-header">Colors <fa-icon class="ms-2" [icon]="paintRoller"></fa-icon></h5>
    <div class="card-body">
        <app-bs-settings-group [variables]="COLORS" [observable]="cS.colorValues"></app-bs-settings-group>
      
    </div>
</div>

<div class="card mb-2">
    <h5 class="card-header">Radius <fa-icon class="ms-2" [icon]="radiusIcon"></fa-icon></h5>
    <div class="card-body">
        
      
        <app-bs-settings-group [variables]="RADIUS" [observable]="cS.radiusValues"></app-bs-settings-group>
    </div>
</div>

<div class="card mb-2">
    <h5 class="card-header">Font Family <fa-icon class="ms-2" [icon]="fontFamilyIcon"></fa-icon></h5>
    <div class="card-body">
        
      
        <div class="input-group mb-2">
            <span class="input-group-text">&#64;import url('</span>
            <input [(ngModel)]="cS.importFontUrl" class="form-control" type="text">
            <span class="input-group-text">')</span>
        </div>
        <app-bs-settings-group [variables]="FONTFAMILY" [observable]="cS.fontFamilyValues"></app-bs-settings-group>
    </div>
</div>

<div class="card mb-2">
    <h5 class="card-header">Font Size <fa-icon class="ms-2" [icon]="fontSizeIcon"></fa-icon></h5>
    <div class="card-body">
        
      
        <app-bs-settings-group [variables]="FONTS"  [observable]="cS.fontValues"></app-bs-settings-group>
    </div>
</div>
