<h4>Badges</h4>
<h5>Standard</h5>
<p>
    
    <span class="badge text-bg-primary me-2">Primary</span>
    <span class="badge text-bg-secondary me-2">Secondary</span>
    <span class="badge text-bg-success me-2">Success</span>
    <span class="badge text-bg-danger me-2">Danger</span>
    <span class="badge text-bg-warning me-2">Warning</span>
    <span class="badge text-bg-info me-2">Info</span>
    <span class="badge text-bg-light me-2">Light</span>
    <span class="badge text-bg-dark me-2">Dark</span>
</p>
<h5>Pills</h5>
<p>
<span class="badge rounded-pill text-bg-primary me-2">Primary</span>
<span class="badge rounded-pill text-bg-secondary me-2">Secondary</span>
<span class="badge rounded-pill text-bg-success me-2">Success</span>
<span class="badge rounded-pill text-bg-danger me-2">Danger</span>
<span class="badge rounded-pill text-bg-warning me-2">Warning</span>
<span class="badge rounded-pill text-bg-info me-2">Info</span>
<span class="badge rounded-pill text-bg-light me-2">Light</span>
<span class="badge rounded-pill text-bg-dark me-2">Dark</span>
</p>